*{
	margin: 0;
	padding: 0;
	font-family: times new roman;
}

.banner{
	  width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url(https://www.martechcube.com/wp-content/uploads/2020/03/9pm-2.jpg);
    background-size: cover;
    background-position: 100%;

}

.navbar{
	position: absolute;
  margin-top: -50px;
	height: 90px;
	width: 200%;
	margin: 0;
	padding: 40px 0px;
	justify-content: space-between;
}

.navbar ul li{
	padding:20px 0px;
	height: 30px;
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 20px;
	color:white;
	line-height: 40px;
	transition: font-size 10s ease;

}

.navbar ul li::after{
	content: '';
	height: 5px;
	width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;

}

.navbar ul li:hover::after{
	width: 100%;
	transition: font-size 1s ease
}

.navbar ul li:last-child{
	border-right: none;
}

.navbar ul li a:hover,.navbar ul li a.active{
	font-size: 20px;
	font-weight: bold;
	color:#B314DB;
	transition: font-size 1s ease;
}

.content{
	width: 100%;
	position: absolute;
	top: 30%;
	transition: translateY(-50%);
	text-align: center;
	color: #fff;
}

.content h1{
	font-size: 50px;
	margin-top: 30px;
}

.content p{
	margin: 30px auto;
	font-weight: 200;
	line-height: 25px;
}

ul{

		list-style: none;
}

.sidebar{
  height: 285px;
  width: 300px;
  border:3px solid #2ECC71;
	border-radius: 40px;
	padding: 20px 30px;
}

.sidebar h3{
	color: white;
	font-size: 40px;
}

.sidebar ul li a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
	text-decoration: none;
	color:#B314DB;
	font-size: 23px;
	font-weight: bold;
	transition: font-size 1s ease;
}

#leftsidebar ul li{
	text-decoration: underline;
	padding-bottom:10px;
	padding-left: 15px;
}

#leftsidebar ul{
	padding-top: 20px;
}

#leftsidebar{
	color:#FBFCFC ;
  float: left;
}

#rightsidebar ul li{
	text-decoration: underline;
	padding-bottom:10px;
	padding-left: 15px;
}

#rightsidebar ul{
	padding-top: 20px;
}

#rightsidebar{
	text-decoration:none;
  color:#FBFCFC;
  float: right;
}

button {
	width: 300px;
	padding: 25px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 65px;
	font-weight: bold;
	border: 3px solid #2ECC71;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-delay: transform .8s ease-in-out;
}

button:hover {
	border: 25px;
	background: #E67E22;
	animation: rotate 3s linear;
}

@keyframes rotate{
            0%{
                transform: rotate(0deg);
            }
            50%{
                transform: rotate(180deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
